* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}
h1 {
  font-size: 3.5vw;
}
.content {
  /* width: 80%; */
  margin: 0 auto;
  /* background-color: rgba(190, 218, 242, 0.559); */
}

header {
  height: 13vh;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9vw;
  box-shadow: 0 1px 15px 0 black;
}

.logo-container {
  background-color: antiquewhite;
  display: inline-block;
  height: 4vh;
  width: 15vw;
  /* position: absolute;
  left: 3;
  top: 25%; */
}
.logo-container img {
  width: 100%;
  width: 100%;
}
.navigation-container {
  display: inline;
  /* position: absolute;
  right: 0;
  top: 25%; */
}
.navigation-container ul {
  list-style-type: none;
  display: inline;
}
li {
  display: inline-block;
  width: fit-content;
  padding: 0.5vw;
}
a {
  text-decoration: none;
  color: black;
}
li input {
  padding: 1vh 5vh;
  border-radius: 5px;
  /* border: 1px solid black; */
  border: none;
  color: white;
  background-color: #2e91e2;
}
.button-container {
  padding-left: 2rem;
}

.hero::before {
  content: "";
  background-color: #f3f2ff;
  width: 55%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  z-index: -100000000;
  right: -12vw;
  top: -21vh;
}
.hero::after {
  content: "";
  background-color: #f6e8fe;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  z-index: -10000000;
  right: -16vw;
  top: -17vh;
}
.hero {
  height: 87vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.hero-text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hero-img-container {
  width: 30%;
}
.hero-img-container img {
  width: 100%;
  box-shadow: 0 0 20px gray;
  border-radius: 33px;
}
.hero-btns input {
  width: 13vw;
  height: 7vh;
  border-radius: 10px;
  border: none;
  margin-right: 1rem;
  color: white;
  font-size: 1vw;
}
.hero-text-content {
  color: #0f147f;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

input[value="GET A FAST QUOTE"] {
  background-color: #2e91e2;
}
input[value="CONTACT US"] {
  background-color: #9866eb;
}
.hero-lists {
  line-height: 3;
}
.hero-lists div {
  display: flex;
  align-content: center;
  gap: 1vw;
  font-size: 1.3vw;
  font-weight: 900;
  color: #4a4e6d;
}
.hero-lists span {
  width: 2.5vw;
}
.hero-lists img {
  width: 100%;
  aspect-ratio: 1;
}
.section-1 {
  width: 80%;
  margin: 0 auto;
}
.heading {
  text-align: center;
  line-height: 5vw;
}
.heading h1 {
  color: #0f147f;
}
.sub-head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0;
}
.sub-head h4 {
  font-size: 1.3vw;
  color: #4a4e6d;
}
#line {
  height: 0.1rem;
  width: 100%;
  background-color: #4a4e6d;
  margin: auto 0;
}
.sec1-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vw;

  overflow: hidden;
}

.img-text {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.img-text img {
  width: 100%;
}
.data-container p,
.img-text div {
  line-height: 1.5;
  text-align: justify;
  font-size: 1.5vw;
  font-weight: bold;
  color: #4a4e6d;
}
.form-container {
  background-color: #9866eb;
  text-align: center;
  border-radius: 20px;

  color: white;
  height: 90%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
.form-container div {
  line-height: 2.5vw;
  margin-top: 1vw;
}
form {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}

.form-container input,
textarea {
  display: block;
  height: 5vh;
  width: 100%;
  padding: 1.5vw 1vw;
  border-radius: 10px;
  border: none;
}
textarea {
  height: 15vh;
}
button {
  height: 7vh;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: #0f147f;
  font-size: 2vh;
  font-weight: bold;
}
.banner-1 {
  margin-top: 3vw;
  width: 100vw;
  height: 35vh;
  background-image: url("./Assets/banner-img.png");
  background-size: 100vw 35vh;
  background-color: #6787f5;
  background-blend-mode: multiply;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
}
.banner-1 button {
  width: 30%;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 1vw;
}
.banner-1 div {
  width: 55%;
  color: white;
  font-size: 2vw;
  margin: 0 auto;
  text-align: left;
  font-weight: bold;
}
.service-container {
  width: 80%;
  margin: 0 auto;
  height: 130vh;
  display: grid;
  grid-template-rows: 1fr 5fr 1.5fr;
  margin-top: 2rem;
}

.service-container .sub-head {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
}
.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
}
.box-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}
.box-container button {
  width: 13vw;
  border-radius: 20px;
  color: white;
  font-size: 1.2vw;
}
.box-container img {
  width: 5vw;
  aspect-ratio: 1;
}
.box-container p {
  font-size: 1.5vw;
  font-weight: bold;
}
.box1 {
  border-radius: 35px 35px 0 35px;
  background-color: #e5f9ff;
}
.box1 button {
  background-color: #42bfe4;
}
.box2 {
  border-radius: 35px 35px 35px 0;
  background-color: #ffeddd;
}
.box2 button {
  background-color: #d37c2e;
}
.box3 {
  border-radius: 35px 0 35px 35px;
  background-color: #f0ddff;
}
.box3 button {
  background-color: #8b37cd;
}
.box4 {
  border-radius: 0 35px 35px 35px;
  background-color: #e8ffdd;
}
.box4 button {
  background-color: #78ca51;
}
.more-service-button-container {
  margin: auto;
}
.more-service-button-container button {
  height: 12vh;
  width: 20vw;
  border-radius: 10vh;
  font-size: 1.5vw;
  background-color: #2e91e2;
  color: white;
}
.section-3 {
  height: 90vh;
  background-color: #f6f6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review-container {
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 2.5fr;
  gap: 1vw;
}
.review-container .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reviews {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1.5fr 2fr;
  gap: 1vw;
}
.review-box {
  background-color: #eaeaf3;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 2.5fr;
}
.social-media-tab {
  border-bottom: 1px solid #d4d4dc;
  display: flex;
  gap: 3vw;
  padding-left: 1rem;
}
.social-media-tab div {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.social-media-tab p {
  font-size: 1.3vw;
}
.social-media-tab div:hover {
  border-bottom: 2px solid #404042;
  overflow: hidden;
}
.entry-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}
.rating,
.entry-box div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
}
.entry-box p {
  font-size: 1.5vw;
}
.entry-box b {
  font-size: 2vw;
}
.entry-box text {
  font-size: 1vw;
}
.review-records {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.review-records > div {
  width: 30%;
  font-size: 1vw;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vw;
  background-color: #eaeaf3;
}
.review-records > div > strong {
  font-size: 1.5vw;
  font-style: italic;
}
.review-records text {
  color: gray;
  vertical-align: baseline;
}

.Google-tag {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: start;
  gap: 1vh;
}
.Google-tag div {
  line-height: 0.4;
}
.Google-tag strong {
  color: #4080ee;
  font-size: 1vw;
}
.Google-tag p {
  color: gray;
  font-size: 0.5vw;
}
.Google-tag img {
  width: 100%;
  aspect-ratio: 1;
}
.star img {
  width: 1.2vw;
}
.review-records p {
  line-height: 1.5vw;
}
.banner-2 {
  width: 100vw;
  height: 35vh;
  background-image: url("./Assets/banner-img.png");
  background-size: 100vw 35vh;
  background-color: #6787f5;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-2 div {
  color: white;
  font-size: 2vw;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}
.link-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.link-container a {
  height: 15vh;
  font-size: 1.2vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.link-container a:hover {
  background-color: #0f147f;
  color: white;
}
.link-container a:hover::after {
  content: "";

  border-top: 1.3vw solid #0f147f;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  position: absolute;
  bottom: -1.2vw;
}
.data-container {
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.data-container > div {
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2vw;
  align-items: center;
}
.data-container img {
  width: 100%;
  height: 100%;
}
.data-container .content {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.data-container h5 {
  font-size: 2.2vw;
  color: #0f147f;
  font-weight: bold;
}
.process-container {
  background-color: #f6f6ff;
  height: 70vh;
  display: flex;
  align-items: center;
}
.process-container .content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.process-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}
.process-box-container > div {
  /* border: 1px solid red; */
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.process-box-container p {
  font-size: 1vw;
  text-align: center;
  line-height: 1.5;
  padding: 2vw;
  background-color: #e5f9ff;
  font-weight: bold;
  color: #4a4e6d;
}
.box-heading {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.9vw;
  font-weight: bold;
}
#box1 {
  border: 1px solid #42bfe4;
}
#box1 #number {
  background-color: #21abd3;
}
#box1 #text {
  background-color: #42bfe4;
}
#box2 {
  border: 1px solid #d37c2e;
}
#box2 p {
  background-color: #ffeddd;
}
#box2 #number {
  background-color: #ba6213;
}
#box2 #text {
  background-color: #d37c2e;
}
#box3 {
  border: 1px solid #8b37cd;
}
#box3 p {
  background-color: #f0ddff;
}
#box3 #number {
  background-color: #721ab8;
}
#box3 #text {
  background-color: #8b37cd;
}
.location-map-container {
  height: 75vh;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  padding: 5vh 0;
}

.areas {
  background-color: #2e91e2;
  font-size: 1vw;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1.5vw;
}
.areas h3 {
  font-size: 1.5vw;
}
.areas p {
  padding: 0 1.5vw;
}
.areas .list {
  display: flex;
  justify-content: space-around;
}
.list li {
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
  font-weight: bold;
  position: relative;
}
.list ul {
  line-height: 1;
}
.areas li::before {
  content: url("./Assets/arrow-right-fill.svg");
  margin-right: 1vw;
  position: absolute;
  left: -1rem;
}
.experience-container {
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 5fr;
  align-items: center;
}
.experience-container .heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2vw;
}
.experience-boxes > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  gap: 1vw;
  height: fit-content;
  padding: 1.5rem 0;
  /* padding: 1rem ; */
}
.experience-boxes h5 {
  font-size: 1.2vw;
  font-weight: bold;
}
.experience-boxes p {
  text-align: center;
  line-height: 1.5;
  padding: 0 1rem;
  font-size: 1vw;
}
#facility1 {
  background-color: #42bfe4;
}
#facility2 {
  background-color: #8b37cd;
}
#facility3 {
  background-color: #d37c2e;
}
#facility4 {
  background-color: #50d365;
}
.experience-boxes img {
  border: 4px solid white;
  border-radius: 50%;
}
footer {
  height: 30vh;
  background-color: #0081fe;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1.2vw;
}

footer div {
  display: flex;
  justify-content: center;
  gap: 2vw;
}
footer img {
  width: 2vw;
  aspect-ratio: 1;
}
footer a {
  color: white;
}
.navigation-container a {
  position: relative;
  transition: content 1s ease-in-out;
}
.navigation-container input:hover {
  background-color: white;
  color: #0081fe;
  border: 1px solid #0081fe;
}
.navigation-container a:hover::before {
  content: "";
  height: 3px;
  background-color: #0081fe;
  position: absolute;
  bottom: -2vh;
  animation: nav-bottom-bar 0.5s ease-in-out;
}

@keyframes nav-bottom-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
footer a {
  transition: scale 0.5s ease-in-out;
}
footer a:hover {
  scale: 1.3;
  color: #404042;
}

.hero-img-container img:hover,
.data-container img:hover {
  scale: 1.1;
}
.box-container div,
.hero-img-container img,
.data-container img {
  transition: scale 0.5s ease-in-out;
}
.box-container div:hover {
  scale: 0.9;
  border-radius: 20px;
}
